.MuiCard-root{
    border-radius: 20px !important;
}

.cardContainer{
    background-color: #7187D5 !important;
}

.btn{
    border-radius: 15px !important;

}

.MuiButton-root:hover{
    border: solid rgb(255, 255, 255) !important;
}

.MuiButton-root{
    text-transform: none !important;
}